Source: redix
Maintainer: Mohammed Alash3al <m7medalash3al@gmail.com>
Section: misc
Priority: optional
Standards-Version: 1.7
Package: RedixDB
Architecture: amd64
Pre-Depends: unzip
Description: a fast NoSQL DB, that uses the same RESP protocol and capable to store terabytes of data, also it integrates with your mobile/web apps to add real-time features, soon you can use it as a document store cause it should become a multi-model db. Redix is used in production, you can use it in your apps with no worries.
Version: 1.7
